:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #44e4e4;
  --card-color: #eee;
  --info-height: calc(100vh - 8.6rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
}

/* NAVBAR SECTION */

nav {
  width: 18.75rem;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  text-align: center;
  background: var(--primary-color);
  box-shadow: 0 0 10px #000;
  z-index: 1;
}

img {
  width: 70px;
}

#logo-container {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.6rem 0;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 1.8rem;
}

#logo .animate-text {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#letter-n {
  position: relative;
  left: 5.6rem;
  transition: left 1s ease 0.3s;
}

#letter-p {
  position: relative;
  left: 1.8rem;
  transition: left 1s ease 0.3s;
}

#logo:hover #letter-n,
#logo:hover #letter-p {
  left: 0;
  transition: left 1s ease;
}

#logo:hover .animate-text {
  opacity: 1;
  transition: opacity 1.5s ease 0.2s;
}

#nav-list li a {
  display: block;
  color: var(--secondary-color);
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  border-top: 3px solid var(--tertiary-color);
  transition: background 0.6s ease;
}

#nav-list li:last-child a {
  border-bottom: 3px solid var(--tertiary-color);
}

#nav-list li a:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

#social {
  padding: 3rem 0;
}

#social .fab {
  margin: 0 0.5rem;
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  box-sizing: content-box;
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  padding: 0.4rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background 1s ease;
}

#social .fab:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

/* MAIN SECTION */

main {
  padding-left: 18.75rem;
  font-family: "Bebas Neue", cursive;
  cursor: default;
}

/* MAIN -> HOME SECTION */

#home {
  height: 100vh;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#rotor {
  position: relative;
  left: 50%;
  top: 50%;
  width: 1200vw;
  height: 1200vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation: rotor-animation 30s infinite forwards alternate ease-in-out 1s;
}

@keyframes rotor-animation {
  to {
    transform: rotate(360deg);
  }
}

#rotor div {
  height: 600vw;
}

#rotor .primary-rotor {
  background: var(--primary-color);
}

#rotor .tertiary-rotor {
  background: var(--tertiary-color);
  z-index: 0;
  box-shadow: 0 0 10px #000;
}

#home-content {
  position: absolute;
  text-align: center;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-content h1 {
  font-size: 5.8rem;
}

#home p {
  font-size: 2.8rem;
}

/* MAIN -> ABOUT SECTION */

#about {
  min-height: 100vh;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#about-content {
  min-height: 100vh;
  width: 100%;
}

#about-info {
  min-height: var(--info-height);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}

#about-info .card {
  width: 100%;
}

/* MAIN -> EDUCATION SECTION */

#education {
  min-height: var(--info-height);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#education-content {
  min-height: 100vh;
  width: 100%;
}

#education-info {
  min-height: calc(100vh - 8.6rem);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}

#education-info .card {
  width: min(20rem, 100%);
}

#education-info .card li {
  font-weight: bold;
  font-size: 1rem;
}

/* MAIN -> SKILLS SECTION */

#skills {
  min-height: var(--info-height);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#skills-content {
  min-height: 100vh;
  width: 100%;
}

#skills-info {
  min-height: calc(100vh - 8.6rem);
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}

#skills-info .card {
  border: 3px solid var(--tertiary-color);
  outline: 3px solid var(--secondary-color);
  box-shadow: 0 0 10px #000;
}

/* MAIN -> CONTACT SECTION */

#contact {
  min-height: var(--info-height);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#contact-content {
  min-height: 100vh;
  width: 100%;
}

#contact-info {
  min-height: calc(100vh - 8.6rem);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}

/* MAIN -> RESUME SECTION */

#resume {
  min-height: var(--info-height);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#resume-content {
  min-height: 100vh;
  width: 100%;
}

#resume-info {
  min-height: calc(100vh - 8.6rem);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}

#resume-info .btn:first-child {
  margin-top: 0;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  nav {
    display: none;
  }
  main {
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  #home-content h1 {
    font-size: 4.8rem;
  }

  #home p {
    font-size: 2.3rem;
  }
}

@media (max-width: 768px) {
  #home-content h1 {
    font-size: 3.1rem;
  }

  #home p {
    font-size: 1.5rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    font-size: 0.75rem;
  }

  #skills-info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  #home-content h1 {
    font-size: 2.5rem;
  }

  #home p {
    font-size: 1.2rem;
  }
}

@media (max-width: 412px) {
  #home-content h1 {
    font-size: 2rem;
  }

  #home p {
    font-size: 0.9rem;
  }

  #skills-info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 320px) {
  #home-content h1 {
    font-size: 1.7rem;
  }

  #home p {
    font-size: 0.8rem;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .card {
    padding: 2rem;
  }

  .btn {
    padding: 1rem 2rem;
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .card {
    padding: 4rem;
    margin: 2rem;
  }
  #education-info .card {
    width: min(50rem, 100%);
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  .card {
    padding: 2rem;
    margin: 1rem;
  }
  #education-info .card {
    width: min(50rem, 100%);
  }
}
